<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.jwkim.meltube.mappers.MusicMapper">
    <insert id="insertMusic" parameterType="dev.jwkim.meltube.entities.MusicEntity">
        INSERT INTO `meltube`.musics (`user_email`, `artist`, `album`, `release_date`, `genre`, `name`, `lyrics`, `cover_data`, `cover_content_type`, `cover_file_name`, `youtube_id`, `status`, `created_at`, `updated_at`, `is_deleted`)
        VALUES (#{userEmail},#{artist},#{album},#{releaseDate},#{genre},#{name},#{lyrics},#{coverData},#{coverContentType},#{coverFileName},#{youtubeId},#{status},#{createdAt},#{updatedAt},#{isDeleted})
    </insert>

    <select id="selectMusicByYoutubeId" resultType="dev.jwkim.meltube.entities.MusicEntity">
        SELECT `index`            AS 'index',
               user_email         AS 'userEmail',
               artist             AS 'artist',
               album              AS 'album',
               release_date       AS 'releaseDate',
               genre              AS 'genre',
               name               AS 'name',
               lyrics             AS 'lyrics',
               cover_data         AS 'coverData',
               cover_content_type AS 'coverContentType',
               cover_file_name    AS 'coverFileName',
               youtube_id         AS 'youtubeId',
               status             AS 'status',
               created_at         AS 'createdAt',
               updated_at         AS 'updatedAt',
               is_deleted         AS 'isDeleted'
        FROM meltube.musics
        WHERE youtube_id = #{youtubeId}
        LIMIT 1
    </select>
</mapper>