@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
.---dialog-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5rem);
  background-color: rgba(33, 33, 33, 0.7529411765);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 98;
}
.---dialog-cover.-visible {
  opacity: 1;
  pointer-events: all;
}

.---dialog {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: flex-start;
  top: calc(50% + 0.5rem);
  left: 50%;
  min-width: 20rem;
  position: fixed;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  transition-duration: 125ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
}
.---dialog > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.---dialog.-visible {
  top: 50%;
  opacity: 1;
  pointer-events: all;
}
.---dialog > ._title {
  background-color: #212121;
  color: #ffffff;
  padding: 0.425rem 0.875rem;
}
.---dialog > ._content {
  background-color: #ffffff;
  color: #212121;
  padding: 0.75rem 0.875rem;
  text-align: justify;
}
.---dialog > ._button-container {
  background-color: #ffffff;
  color: #212121;
  border-top: 0.0625rem solid #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.---dialog > ._button-container > ._button {
  background-color: #ffffff;
  cursor: pointer;
  padding: 0.375rem;
  font-size: 0.8rem;
  user-select: none;
}
.---dialog > ._button-container > ._button + ._button {
  border-left: 0.0625rem solid #f0f0f0;
}
.---dialog > ._button-container > ._button:hover {
  background-color: rgb(242.25, 242.25, 242.25);
}
.---dialog > ._button-container > ._button:active {
  background-color: rgb(229.5, 229.5, 229.5);
}

.---loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5rem);
  background-color: rgba(33, 33, 33, 0.7529411765);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  z-index: 100;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease;
}
.---loading > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.---loading.-visible {
  opacity: 1;
  pointer-events: all;
}
.---loading.-visible > ._icon {
  top: 0;
  opacity: 1;
  transition-delay: 125ms;
}
.---loading.-visible > ._text {
  top: 0;
  opacity: 1;
  transition-delay: 500ms;
}
.---loading > ._icon {
  width: 3rem;
  animation-name: anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
  position: relative;
  transition-duration: 250ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
}
@keyframes anim {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.---loading > ._text {
  top: 0.5rem;
  font-size: 1.25rem;
  opacity: 0;
  position: relative;
  transition-duration: 250ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
}

a[href] {
  color: inherit;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
a:link:hover, a:visited:hover {
  text-decoration: underline;
}

body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  background-color: #222324;
  margin: 0;
  color: #d4d5d6;
  overflow: hidden;
  cursor: default;
}

a:link, a:visited {
  color: inherit;
}

button, input, select, textarea {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: 0;
  margin-inline: 0;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.--obj-label {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
}
.--obj-label > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.--obj-label.-invalid > ._text {
  color: #e74c3c;
}
.--obj-label.-invalid > ._field:not(:disabled) {
  border-color: #e74c3c !important;
}
.--obj-label.-invalid > ._warning {
  color: #e74c3c;
  display: block;
}
.--obj-label > ._text {
  font-size: 0.8rem;
}
.--obj-label > ._warning {
  display: none;
  font-size: 0.8rem;
}

.--obj-field {
  padding: 0.25rem 0.375rem;
  transition-duration: 250ms;
  transition-property: border-color;
  transition-timing-function: ease;
}
.--obj-field.-light {
  background-color: #ffffff;
  border: 0.0625rem solid #eeeeee;
  color: #212121;
}
.--obj-field.-light:hover {
  border-color: rgb(212.5, 212.5, 212.5);
}
.--obj-field.-light:focus {
  border-color: #01cd3d;
}
.--obj-field.-dark {
  background-color: #222324;
  border: 0.0625rem solid #424242;
  color: #ffffff;
}
.--obj-field.-dark:hover {
  border-color: rgb(91.5, 91.5, 91.5);
}
.--obj-field.-dark:focus {
  border-color: #01cd3d;
}

.--obj-button {
  cursor: pointer;
  padding: 0.425rem 0.5rem;
  user-select: none;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: ease;
}
.--obj-button.-color-primary {
  background-color: #01cd3d;
  color: #ffffff;
}
.--obj-button.-color-primary:hover {
  background-color: rgb(0.8762135922, 179.6237864078, 53.4490291262);
}
.--obj-button.-color-primary:active {
  background-color: rgb(0.7524271845, 154.2475728155, 45.8980582524);
}
.--obj-button.-color-light-gray {
  background-color: #a0a0a0;
  color: #ffffff;
}
.--obj-button.-color-light-gray:hover {
  background-color: rgb(147.25, 147.25, 147.25);
}
.--obj-button.-color-light-gray:active {
  background-color: rgb(134.5, 134.5, 134.5);
}

.--obj-check-label {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
}
.--obj-check-label > .-spring {
  flex-grow: 1;
  flex-shrink: 1;
}
.--obj-check-label.-light > ._box {
  background-color: #ffffff;
}
.--obj-check-label > ._input {
  display: none;
}
.--obj-check-label > ._input:checked + ._box {
  background-color: #01d345;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAACGUlEQVR4nO3ZzYuNURzA8R+jEZOXZDbeNpqVZiWUDcpGiQ0lKykLpWZnIQspNWUhG9kR2Shlo8jCQpSFlMLK28JLQkKUt4+e5hnN4s7MfWaex8zccz7/wPl9z+12zzk3IsuyLMuyLMuyrIPgGAYj4fhhgynHp7UJWsensQnGji+ciYTjb6M7Eo1/jt5INP4L+iPR+D/YHYnGF45GwvFXMCsSjX+Ankg0/i1WRqLxP7ApEo0vHIiE409FwvE3MafJQfbhMpY0tsjE459haZODrMHXcrGX2NzYYtXjPxfzNTlIDx61OF6ebupmVSH+N7Y3McM/ODfGAA/rvmRUiC8crnPtlnBinCG+YaCOI2fF+IuTXa/KYCfbGOgGlv2n+PuYX2/lGIpPF2fbGOwddjQc/xor4n/DbFxqc8gL7V5EKsZ/x4bma0eBrvIs0I4nWFtjfGF/TDV041qbA/8sI7tqiJ8+z9mYh1sVhr+L1ZOIv95qE6cUFuBehYhP2DuB+MdYFNMRFpc/SU35iL6YztDb4qhch1/YFjMBluNpzRswEDMJVuFFTfHnYyZCH95MMv4O5sZMhX68n2D8q8ncJ6YNrC8fKqoobpXrolNg44hXpPEUDyx7otNga3mBGc/x6FTYWf5ZMZqrxU0zOhl2lQebVsfchZECQ8/qxSPmsA8jL0hJwKEyvvhKbIkU4QgOTvUcWZZlWZZlWQz5CwWJiRXjv3DMAAAAAElFTkSuQmCC");
}
.--obj-check-label > ._box {
  width: 1rem;
  min-width: 1rem;
  max-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  max-height: 1rem;
  border: 0.125rem solid #01d345;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 87.5%;
}
.--obj-check-label > ._text {
  text-align: justify;
}

/*# sourceMappingURL=common.css.map */
